@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: #6e0707 !important;
}
body {
    font-family: 'noto serif bangla', sans-serif;
    background: rgb(50,46,47);
    background: linear-gradient(90deg, rgb(9, 9, 22) 0%, rgba(6,8,18,1) 51%, rgb(5, 5, 28) 100%);
}
header {
    border-bottom: 0.5px solid #fff;
    font-family: "Libre Franklin";
}
#hero {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.left {
    padding-right: 100px;
}
.boro {
    font-size: 110px !important;
    /* margin: 10px auto !important; */
}
.right {
    padding-left: 100px;
}
.video {
    height: 400px !important;
    width: 600px !important;
    border: 2px solid #fff;
}

.card-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card {
    height: 250px;
    width: 380px;
    background: #1d2336;
    margin: 5px 7px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.card:hover{
    background: #1d253e;
    box-shadow: 0px 2px 4px rgb(27, 21, 98) inset;
}
.container {
    justify-content: space-around !important;
    margin-top: 60px;
}
.services{
    margin-top: 50px;
}







/* Additional css here  */
/* ================================= */
/* scrollbar change  */

::-webkit-scrollbar-track{
    background: #f1f2f6;
}
::-webkit-scrollbar-thumb{
    background: #9A0707;
}
.progressiveNav{
    position: fixed;
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,rgb(241, 21, 21),rgb(46, 5, 252));
}

/* scrollbar change ends */
.bangla {
    font-family: ahsanfont;
}
.left {
    text-align: left;
}
.devider {
    width: 400px;
    border: dotted white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.tinidevider{
    width: 70%;
    margin: 5px auto;
    border: 1px double #10152b;
}
.underdevider{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 12px;
    border-bottom: 3px double white;
}

.service-icon{
    font-size: 22px;
    background:#3758F9;
    margin: auto auto;
    padding: 15px 10px;
    height: 50px;
    width:50px;
    text-align: center;
}
.institute{
    color: rgb(154, 7, 7);
    font-size: 60px;
    text-shadow: 3px -1px 3px rgba(255,255,255,0.6);
}